body{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQYV2NkQAX/GZH4/xkYGBhhAmAOSBJEwDkgAQCCrgQEjpMcPgAAAABJRU5ErkJggg==) repeat;
    
}

.hide{
    display: none;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#videoSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#audioSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.transcript{
    width: 50%;
    background-color: white;
    padding: 15px 35px 15px 35px;
    margin-top: 35px;
    border-radius: 7px;
}

a{

    width:25%;
    padding: 35px;
    cursor: pointer;
    transition: 0.6s;
    

    &:hover{
        transform: scale(1.02);
        
    }
}

#avengers{

    img{
        border-radius: 7px;
        width:  100%;
        -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.3);
box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.3);

    }
}

#strangerthings{
    img{
        border-radius: 7px;
        width:  100%;
        -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.3);
box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.3);

    }
}

.movies{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button{
    border: none;
    background-color: rgb(51, 51, 51);
    color: white;
    padding: 20px 30px 20px 30px;
    border-radius: 7px;
    margin-top: 35px;
    cursor: pointer;
    transition: 0.6s;

    &:hover{

        transform: scale(1.02);
    }
}

#seekslider{
    padding:25px;
    width:500px;
}